<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="style.css">
    <title>Stock</title>
</head>

<body>
    <header>
        <div class="container">
            <a class="logo">
                <img src="logo.jpg" alt="brand logo">
            </a>
            <nav class="navbar">
                <div class="menu">
                    <div class="menu_list">
                        <a href="##" class="dropdown_menu"><i class="fas fa-caret-down"></i>財務報表</a>
                        <div class="dropdown_toggler">
                            <a href="##" class="dropdown_item">資產負債表</a>
                            <a href="##" class="dropdown_item">損益表</a>
                            <a href="##" class="dropdown_item">現金流量表</a>
                        </div>
                    </div>
                    <div class="menu_list">
                        <a href="##" class="dropdown_menu"><i class="fas fa-caret-down"></i>財務比例分析</a>
                        <div class="dropdown_toggler">
                            <a href="##" class="dropdown_item">每股比例表</a>
                        </div>
                    </div>
                    <div class="menu_list">
                        <a href="##" class="dropdown_menu"><i class="fas fa-caret-down"></i>技術圖</a>
                        <div class="dropdown_toggler">
                            <a href="##" class="dropdown_item">營運資金週期</a>
                        </div>
                    </div>
            </nav>
            <div class="searchbar">
                <form action="" id="searchbar">
                    <label for="search">
                        <i class="fas fa-search click_search"></i>
                    </label>
                    <input type="checkbox" id="search" form="searchbar" class="search_checkbox">
                    <input type="text" form="searchbar" placeholder="請在此輸入股名或股號" class="search_text">
                    <button class="close_searchbar">
                        <i class="fas fa-times-circle"></i>
                    </button>
                </form>
            <div class="search">
                <a href="##">
                    <i class="fas fa-search"></i>
                </a>
            </div>
        </div>
    </header>
    <main>
        <section class="title">
            <div class="title_content">
                <p>2330 台積電</p>
                <p>資產負債表</p>
            </div>
        </section>
        <section class="data">
            <div class="sub_data">
                <div class="report_unit">
                    <span>單位：百萬元</span>
                </div>
                <div class="report_type">
                    <span>季報</span>
                    <span> | </span>
                    <span>年報</span>
                </div>
            </div>
            <div class="table_data">

            </div>
        </section>
    </main>





</body>

</html>