<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
  <link rel="stylesheet" href="style.css">
  <title>Stock</title>
</head>

<body>
  <header>
    <div class="container">
      <a href="#" class="logo">
        <img src="logo.jpg" alt="brand logo">
      </a>
      <div class="searchbar">
        <form action="" id="searchbar">
          <input type="text" form="searchbar" placeholder="請在此輸入股名或股號" class="search_text">
          <button class="search_submit"><i class="fas fa-search"></i></button>
        </form>
      </div>
      <nav class="navbar">
        <div class="menu">
          <div class="menu_list">
            <a href="##" class="dropdown_menu"><i class="fas fa-caret-down fa-fw"></i>財務報表</a>
            <div class="dropdown_toggler">
              <a href="##" class="dropdown_item">資產負債表</a>
              <a href="##" class="dropdown_item">損益表</a>
              <a href="##" class="dropdown_item">現金流量表</a>
            </div>
          </div>
          <div class="menu_list">
            <a href="##" class="dropdown_menu"><i class="fas fa-caret-down fa-fw"></i>財務比例分析</a>
            <div class="dropdown_toggler">
              <a href="##" class="dropdown_item">每股比例表</a>
            </div>
          </div>
          <div class="menu_list">
            <a href="##" class="dropdown_menu"><i class="fas fa-caret-down fa-fw"></i>技術線圖</a>
            <div class="dropdown_toggler">
              <a href="##" class="dropdown_item">營運分析</a>
              <a href="##" class="dropdown_item">獲利分析</a>
            </div>
          </div>
          <div class="menu_list lock_function">
            <a href="##" class="dropdown_menu"><i class="fas fa-lock fa-fw"></i>選股功能</a>
            <div class="dropdown_toggler">
            </div>
          </div>
      </nav>
    </div>
  </header>
  <main>
    <section class="title scrollup_top">
      <div class="title_content scrollup">
        <p class="title_text scrollup_text">2330 台積電</p>
        <p class="title_text scrollup_text">資產負債表</p>
      </div>
    </section>
    <section class="data">
      <div class="report_data">
        <div class="report_unit">
          <span>單位：百萬元</span>
        </div>
        <div class="report_type">
          <span>季報</span>
          <span class="active">年報</span>
        </div>
      </div>
      <div class="table_data">

      </div>
    </section>
  </main>
  <footer>
    <a href="#" class="back">BACK TO TOP</a>
  </footer>

</body>

</html>