@mixin table_style {
  width: 100%;
  text-align: right;
  font-size: 14px;
  border-collapse: collapse;

  &>.title {
    background-color: #333333;
    color: #fff;
    padding: $block_padding;
    letter-spacing: 1px;
  }

  .column_years {
    background-color: $rows_name_block_color;

    .names__title {
      text-align: left;
      margin-left: 10px;
      padding: $block_padding;
      box-sizing: border-box;
      padding-left: 5px;
    }

    .year {
      padding: $block_padding;
      text-align: right;
    }
  }

  .data_row {
    border-top: 1px solid $border_color;

    &:nth-child(2n-1) {
      background-color: $column_block_grey;
    }

    .row_name {
      text-align: left;
      padding: $block_padding;
      padding-left: 5px;
      box-sizing: border-box;

      &.ident {
        padding-left: $ident_px;
      }
    }

    .each_data {
      // flex: 0 1 10%;
      padding: $block_padding;
      text-align: right;

      &.negative {
        color: #c02020;
      }
    }
  }
}